<nav class="navbar navbar-light bg-light mb-3">
    <h1 class="pl-5" id="title">Streaker</h1>
    <button id="logoutBtn" class="btn">Log Out<i class="pl-1 fas fa-sign-out-alt fa-1x"></i></button>
</nav>
<div class="container">
    <div class="row no-gutters shadow p-3 mb-5 bg-white rounded">
        <div class="col-12 col-sm-8">
            <div id="calendar"></div>
        </div>
        <div class="col-12 col-sm-4" style="background: white">
            <a href="/calendar">goals</a>
            <a href="/addgoal">add</a>
            <div id="rightCol">
            {{#if goals}}
            {{> utilities/goals-block }}
            {{/if}}
            {{#if add}}
            {{> utilities/add-block }}
            {{/if}}
            </div>
        </div>
    </div>
</div>

<!-- Add jQuery library (required) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>

<!-- Add the evo-calendar.js for.. obviously, functionality! -->
<script src="https://cdn.jsdelivr.net/npm/evo-calendar@1.1.0/evo-calendar/js/evo-calendar.min.js"></script>
<script src="js/index.js"></script>

<script>
    // initialize your calendar, once the page's DOM is ready
    $("#calendar").evoCalendar({
        'eventDisplayDefault': false,
        'todayHighlight': true,
        'eventListToggler': false,
        'sidebarDisplayDefault': false
    });
</script>