{{!-- nav bar --}}
<nav class="navbar navbar-light bg-light mb-3">
  <h1 class="pl-5" id="title">Streaker</h1>
</nav>

{{!-- content --}}
<div class="card mx-auto" style="width: 40rem;">
  <div class="card-body">
    <h2 class="card-title center">Sign Up!</h2>
    <br>
    <p class="card-text center">A motivational calendar, built for you.</p>

    {{!-- form --}}
    <form class="signup">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="email-input" placeholder="Email">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="password-input" placeholder="Password">
      </div>
      <div class="center">
        <button type="submit" class="btn btn-default btn-outline-dark">Sign Up<i
            class="pl-1 fas fa-sign-out-alt fa-1x"></i>
        </button>
        <br><br><br>
        Already a User?
        <br>  
      </div>
    </form>
    <a href="/"><button class="btn btn-default">Log In</button></a>
  </div>
</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/signup.js"></script>