form.signup,
form.login {
  margin-top: 50px;
}

body {
    font-family: 'Roboto', sans-serif;
    background: rgb(192,132,215);
    background: linear-gradient(153deg, rgba(192,132,215,1) 0%, rgba(174,125,212,1) 35%, rgba(160,239,255,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#title {
    font-family: 'Pacifico', cursive;
    color: rgb(192,132,215);
}

#logoutBtn {
    font-family: 'Pacifico', cursive;
    font-size: larger;
    color: rgb(192,132,215);
}

#quote {
    font-family: 'Pacifico', cursive;
    color: rgb(192,132,215);
}

#fonted {
    font-family: 'Pacifico', cursive;
    color: rgb(192,132,215);
}

h2 {
    font-family: 'Pacifico', cursive;
    color: rgb(192,132,215);
}

.center {
    margin: auto;
    width: 50%;
    text-align: center;
}
button.delete-goal {
    color:#8773c1;
}
#goal-submit {
    box-shadow: 0 5px 15px -5px #8773c1;
}
h1 {
    color:#464545;
}
h4,h5 {
    color:#302f2f;
}
