/* .row {
    border-style: solid;
} */

h1 {
    text-align: center;
    font-size: 80px;
    font-family: 'Clicker Script', cursive;
    color: white;
}   

body {
    background-image: url(../assets/purpfadebg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
   }

.li {
       border-style: solid;
   }

#quote {
    color: white;
    font-size: 25px;
    font-family: 'Clicker Script', cursive;
}

#log {
    color: white;
    font-size: 20px;
}