<a class="float-right" href="/calendar"><i class="fas fa-backspace fa-2x"></i></a>
<div class="container">
    <div class="col text-center">
        <h1>Create Goal:</h1>
        <br>
        <form>
            <div class="form-group pl-1">
                <h4><label for="description">Goal Description:</label></h4>
                <input type="text" class="form-control" id="description" aria-describedby="emailHelp"
                    placeholder="Enter Goal Description">
            </div>

        </form>

        <hr><br>

        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="longTerm" value="option1" checked>
            <label class="form-check-label" for="longTerm"><h5>Long-Term Goal</h5></label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="shortTerm" value="option2">
            {{!-- <label class="form-check-label" for="shortTerm">
                Short-Term Goal
            </label> --}}
            <label class="form-check-label" for="shortTerm"><h5>Short-Term Goal</h5></label>
            <input type="date" id="end-date" name="end-date" disabled>
        </div>

        <hr>

        <div>
            <h4>
                Pick a color:
            </h4>
            <div class="row">
                <div class="col">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-success btn-lg">
                            <input type="radio" name="options" id="green" autocomplete="off" value="green"> Green
                        </label>
                        <label class="btn btn-danger btn-lg">
                            <input type="radio" name="options" id="red" autocomplete="off" value="red"> Red
                        </label>
                        <label class="btn btn-warning btn-lg">
                            <input type="radio" name="options" id="yellow" autocomplete="off" value="yellow"> Yellow
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-info btn-lg">
                            <input type="radio" name="options" id="blue" autocomplete="off" value="blue"> Blue
                        </label>
                        <label class="btn btn-dark btn-lg">
                            <input type="radio" name="options" id="black" autocomplete="off" value="black"> Black
                        </label>
                        <label class="btn btn-secondary btn-lg">
                            <input type="radio" name="options" id="grey" autocomplete="off" value="grey"> Grey
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <hr><br>

        <a href="/calendar">
            <button id="goal-submit" type="button" class="btn btn-outline-primary btn-lg btn-block">Submit</button>
        </a>

    </div>
</div>