<div class="row">
    <div class="col text-center">
        <a class="float-right" href="/addgoal"><i class="fas fa-plus-square fa-2x"></i></a>
        <h1 id="selected-date">Todays Date</h1>
    </div>
</div>

<div class="row">
    <div class="col" style="height: 50%">
        <ul id="goal-list" class="list-group list-group-flush">
        </ul>
    </div>
</div>

<br>

<div class="row">
    <div class="col">
        <h1 class="text-center">Progress:</h1>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                Goal 1:
                <div class="progress">
                    <div id="dynamic" class="progress-bar bg-success" role="progressbar" style="width: 0"
                        aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </li>
            <li class="list-group-item">
                Goal 2:
                <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </li>
            <li class="list-group-item">
                Goal 3:
                <div class="progress">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 97%" aria-valuenow="97"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </li>
        </ul>
    </div>
</div>