<div class="row">
    <div class="col text-center">
        <a class="float-right" href="/addgoal"><i class="fas fa-plus-square fa-2x"></i></a>
        <h1 id="selected-date"></h1>
    </div>
</div>

<div class="row">
    <div class="col" style="height: 50%">
        <ul id="goal-list" class="list-group list-group-flush">
        </ul>
    </div>
</div>

<br>

<div class="row">
    <div class="col">
        <h1 class="text-center">Progress:</h1>
        <ul class="list-group list-group-flush" id="progress">
        </ul>
    </div>
</div>